button {
  background: transparent;
  background-color: transparent;

  border: none;
}

button:focus {
  outline: none;
  border: none;
}

button:active {
  outline: none;
  border: none;
}
body {
  font-family: Arial, sans-serif;
  background-color: #303030;
  padding: 20px;
}
.user-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.user-card {
  background-color: rgb(153, 153, 153);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  width: 220px;
  padding: 15px;
  text-align: center;
}
.user-card img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}
.user-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 1.1em;
  color: white
}
.status-circle {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid #ccc;
}
/* Status colors */
.status-joinme {
  background-color: #a0c8ff; /* light blue */
}
.status-online {
  background-color: #aaff80; /* lime green */
}
.status-askme {
  background-color: #ffa840; /* orange */
}
.status-dnd {
  background-color: #ff4040; /* red */
}
.instance {
  font-size: 0.9em;
  color: #f7f7f7;
  margin-bottom: 6px;
}
.status-message {
  font-size: 0.85em;
  font-style: italic;
  color: #ffffff;
  min-height: 1.2em;
}
h1 {
  color: white
}
@tailwind base;
@tailwind components;
@tailwind utilities;